BODY {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
P {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
SPAN {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
PRE {
	FONT-SIZE: 10pt; COLOR: #3e9cdc
}
BLOCKQUOTE {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
CITE {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
EM {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
B {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
B.normal {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 2px
}
B.gray {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ada8a4; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL.normal {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #3e9cdc; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL.gray {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #bbbbbb; FONT-STYLE: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: #3e9cdc; FONT-FAMILY: arial,helvetica,sans-serif
}
H2 {
	COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
SPAN.header {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 3px; FONT-VARIANT: small-caps
}
SPAN.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 2px
}
SPAN.header3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 2px
}
DIV.tooltip {
	BORDER-RIGHT: #c8b038 0px solid; BORDER-TOP: #c8b038 1px solid; LEFT: 0px; VISIBILITY: hidden; BORDER-LEFT: #c8b038 0px solid; WIDTH: 191px; BORDER-BOTTOM: #c8b038 1px solid; FONT-FAMILY: arial,helvetica,sans-serif; POSITION: absolute; BACKGROUND-COLOR: black
}
TD.tooltip {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #3e9cdc; FONT-STYLE: normal
}
IMG.border {
	BORDER-LEFT-COLOR: #29282d; BORDER-BOTTOM-COLOR: #29282d; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #29282d; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #29282d; BORDER-BOTTOM-STYLE: solid
}
A:link {
	FONT-WEIGHT: bold; COLOR: #c8b038; FONT-FAMILY: arial,helvetica,sans-serif
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #aaaaaa; FONT-FAMILY: arial,helvetica,sans-serif
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A:active {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #aaaaaa; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.tiny:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:link {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #c8b038; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #bbbbbb; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.bracket:active {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
